@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .txt-balanced {
    text-wrap: balance;
  }
  .txt-pretty {
    text-wrap: pretty;
  }
  .txt-nowrap {
    text-wrap: nowrap;
  }
  .txt-stable {
    text-wrap: stable;
  }
  .txt-wrap {
    text-wrap: wrap;
  }
  .txt-unset {
    text-wrap: unset;
  }
}

body {
  overflow-x: hidden;
}

header > div,
header img {
  transition: 150ms;
}
* {
  scroll-behavior: smooth;
}

.header-small > div {
  padding: 20px;
}

.header-small img {
  width: 100px;
}

.fade-in {
  animation: fade-in 500ms forwards ease-in;
}

.move-up {
  animation: move-up 500ms forwards ease-in;
}

@keyframes move-up {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start-animation {
  translate: -10%;
  opacity: 0;
}

.end-animation {
  translate: 0 0;
  opacity: 1;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.editor ol,
.editor ul {
  list-style: revert;
}

.modal {
  animation: modal 150ms ease-in-out;
}

@keyframes modal {
  from {
    transform: translateY(10%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.backdrop {
  animation: backdrop 250ms ease-in-out;
}

@keyframes backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fb_dialog_content:after {
  content: '';
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #fff;
  height: 60px;
  width: 60px;
  background-image: url('./chat.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 20%);
  pointer-events: none;
  z-index: 9999999999;
}

.fb_dialog_content:hover:after,
.fb-customerchat:hover:after {
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
}

.fb_dialog_content iframe:first-child {
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .slide-down {
    animation: slide-down 500ms forwards ease-in;
    animation-delay: 500ms;
    translate: 0 -32px;
  }
}

.swiper {
  padding-bottom: 50px !important;
}
